<div class="page-sign">
    <div class="background">
    </div>
    <div class="container">
        <div class="form form-signup col-md-6 center-block" data-ng-controller="forgotPasswordController as vm">
            <div class="modal-dialog">
                <div class="modal-content row">
                    <div class="modal-content-wrap modal-form">
                        <form angular-validator-submit="" name="form" novalidate angular-validator>
                            <div class="modal-header">
                                <a href="#/user/login">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                </a>
                                <h3 class="modal-title"><span class="text">Reset Merchant Password</span></h3>
                            </div>
                            <div class="modal-body">
                                <div class="form-wrap">
                                    <div class="item item-border">
                                        <div class="item item-full">
                                            <p>Enter your Username and Email below, we will send you an instruction email to reset your password.</p>
                                        </div>
                                        <div class="item item-full">
                                            <label for="store-username" class="block">Username<span class="required">*</span></label>
                                            <div class="input-wrap">
                                                <input class="form-control"
                                                       type="text"
                                                       autocomplete="on"
                                                       placeholder="Your Merchant username"
                                                       name="UserName"
                                                       ng-model="vm.model.UserName"
                                                       validate-on="dirty"
                                                       validator="vm.model.validator().UserName(vm.model.UserName) === true"
                                                       invalid-message="vm.model.validator().UserName(vm.model.UserName)">
                                            </div>
                                        </div>
                                        <div class="item item-full">
                                            <label for="store-email" class="block">Email<span class="required">*</span></label>
                                            <div class="input-wrap">
                                                <input class="form-control"
                                                       type="text"
                                                       autocomplete="on"
                                                       placeholder="Your Registration Email"
                                                       name="Email"
                                                       ng-model="vm.model.Email"
                                                       validate-on="dirty"
                                                       validator="vm.model.validator().Email(vm.model.Email) === true"
                                                       invalid-message="vm.model.validator().Email(vm.model.Email)">
                                            </div>
                                        </div>
                                        <div class="item item-full" ng-show="vm.model.isSuccess === true && !form.$invalid">
                                            <p>Successful! Please check your email {{vm.model.Email}} and follow the insutruction.</p>
                                        </div>
                                        <div class="item item-full" ng-show="vm.model.isSuccess === false && !form.$invalid">
                                            <p>Sorry! {{vm.model.Email}} or {{vm.model.UserName}} Not found. Please retry.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" ng-disabled="form.$invalid" data-ng-click="vm.btnSubmitClicked()">Forgot Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

