<div class="page-locations">
    <div class="background">
    </div>
    <div class="container">
        <div class="main-wrapper clearfix" data-ng-controller="productsController as vm">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Products</h2>
                </div>
            </div>
            <div class="location-list col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="item">
                            <a href="" class="btn-add" data-ng-click="vm.addProductClick()">
                                <i class="icon-plus"></i>
                                <span class="text">Add Product</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>